<div class="border border-dark">
  <div class="border-bottom border-dark">
    <div class="text-center">
      <p>ジャンル検索</p>
    </div>
  </div>
  <div class="text-left">
    <p>ケーキ</p>
    <p>焼き菓子</p>
    <p>プリン</p>
    <p>キャンディ</p>
  </div>
</div>