<div class="container">
  <div class="row">
    <div class='col-md-2'>
      <%= render 'admin/genres/search' %>
    </div>
    <div class='col-md-10'>
      <h1>商品一覧<h4>(全8件)</h4></h1>
      <% @items.each do |item| %>
      <%= image_tag item.image, size: "200x200" %>
      <%= link_to item.name, item %>
      <p>￥<%= item.price %></p>
      <% end %>
    </div>
  </div>
</div>